/**GRID**/

.full-width {
  width: 1200px;
}

.half-width {
  width: 600px;
}

.third-width {
  width: 400;
}

/***HEADER***/

header {
  background-image: url("../img/hero.png");
  background-size: cover;
  height: 800px;
}

.container {
  padding: 132px 124.76px;
}

h1, h2, h3 {
  font-family: 'Lora';
}

h3 {
  color: #bbc085;
  float: left;
  font-size: 30px;
}

header nav ul li {
  color: #828282;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  list-style-type: none;
  text-transform: uppercase;
}

header nav {
  float: right;
}

header nav li {
  padding-left: 58px;
}

header h1 {
  color: #9b9b9b;
  font-size: 72px;
  padding-top: 116px;
  width: 950px;
}

header h1 span {
  color: #2b2b2b;
}

/***INTRODUCTION***/

section {
  height: 600px;
}
